*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    background: #000;
    display: flex;
}
.header__logo{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 58px;
    margin-left: 12%;
    cursor: pointer;
}
li{
    list-style: none;
}
nav{
    margin-top: 58px;
    margin-left: 29%;
}
.topnav a{
    color: #fff;
    padding: 12px 17px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .welcome{
    text-align: center;
    background: #000;
    padding: 210px 0 415px 0;
}
main .welcome p{
    color: #b0b0b0;
    font-size: 20px;
}
main .welcome h1{
    color: #8c8c8c;
    font-size: 44px;
    font-weight: lighter;
}
.MC{
    color: #fcac45;
    font-weight: bold;
}
.wrapper{
    background: #fff;
}
.about{
    width: 78%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}
.about__right{
    margin-left: 150px;
}
.mx100{
    min-width: 100%;
}
.about__right h1{
    text-transform: uppercase;
    border-bottom: 3px solid #fcac45;
    display: inline-block;
    font-weight: lighter;
    font-size: 34px;
    padding-bottom: 20px;
}
.AU{
    font-weight: bold;
}
.about__right p{
    margin: 30px 0 50px 0;
    color: #909090;
    font-size: 18px;
}
.about__right li{
    background: url(img/li.png) 0px no-repeat;
    padding-left: 20px;
    font-size: 18px;
    
}
.team{
    background: #000;
    padding: 100px 0 160px 0;
    color: #fff;
    text-align: center;
}
.team h1{
    font-weight: bold;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.line{
    height: 3px;
    width: 100px;
    background: #fcac45;
    position: relative;
    left: 46.5%;
    margin-bottom: 105px;
}
.photo{
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.team__cards{
    display: flex;
    margin: 0 auto;
    width: 78%;
}
.name{
    font-size: 20px;
    margin-bottom: 8px;
}
.position{
    font-size: 16px;
    margin-bottom: 35px;
}
.about__position{
    font-size: 14px;
}
.card{
    margin: 0 40px;
}
.services{
    margin: 0 auto;
    width: 78%;
    padding: 100px 0;
}
.services__content{
    text-align: center;
}
.services__content h1{
    font-weight: bold;
    font-size: 44px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.services__content p{
    font-size: 16px;
    padding-bottom: 105px;
}
.services__cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
}
.servis{
    font-size: 16px;
    text-transform: uppercase;
}
.image{
    padding-bottom: 30px;
}

.servis{
    padding-bottom: 25px;
}

@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #fff;
        font-size: 25px;
        margin-top: -17px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        text-align: left;
        float: none;
        display: block;
    }
    main .welcome{
        padding: 50px 0 50px 0;
    }
    main .welcome p{
        font-size: 10px;
    }
    main .welcome h1{
        font-size: 22px;
    }
    .about{
        flex-direction: column;
    }
    .mx100{
        max-width: 100%;
        
    }
    .about__right{
        margin-left: 0;
        text-align: center;
    }
    .about__right li{
        text-align: left;
        font-size: 11px;
    }
    .about__right h1{
        font-size: 18px;
    }
    .about__right p{
        font-size: 11px;
    }
    .team__cards{
        flex-direction: column;
    }
}
@media screen and (max-width: 1200px) {
    nav{
        margin-left: 20%;
    }
}
@media screen and (max-width: 1120px) {
    nav{
        margin-left: 10%;
    }
}